.container {
  max-width: 100%;
  
  .title {
    display: block;
    font-weight: 700;
    font-size: 2.8rem;
    color: var(--grey-100);
    margin-bottom: .8rem;
  
    transition: color 0.2s;
  
    &:hover{
      color: var(--pink-500);
    }
  }
  
  .subtitle {
    font-size: 1.8rem;
    color: var(--grey-500);
    margin-bottom: 2.4rem;
  }

  .informationContainer {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  & ~ .container {
    margin-top: 4.8rem;
  }
}
