.container {
  width: 100%;
  
  .banner {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-left: calc(((-100vw + 69rem)/2));
    background: black;
    img {
      max-height: 600px;
    }
  }
  
  .title {
    color: var(--grey-100);
    font-size: 700;
    font-size: 4.8rem;
    margin: 8rem 0 2.4rem 0;
  }
  
  .infoContainer{
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  .updatedInfo {
    font-style: italic;
    font-size: 1.4rem;
    color: var(--grey-800);
    margin-top: 1.2rem;
  }

  .previewButton {
    color: var(--pink-500);
    margin-top: 2rem;
    transition: 0.2s;
    &:hover{
      filter: brightness(1.2);
    }
  }

  .content {
    section {
      h2 {
        font-size: 3.6rem;
        color: var(--grey-100);
        margin: 6.4rem 0;
      }
      p {
        font-size: 1.8rem;
        color: var(--grey-500);
        margin-bottom: 2rem;
        text-align: justify;
      }
    }
  }

  .relatedPostsContainer {
    display: flex;
    justify-content: space-between;

    .relatedPost {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: .8rem;
      margin-bottom: 3rem;

      p {
        text-transform: capitalize;
        font-size: 1.8rem;
        color: var(--grey-100);
      }

      button {
        color: var(--pink-500);
        background: none;
        border: none;
        align-self: flex-start;        
        transition: filter .2s;
        
        &:hover {
          filter: brightness(1.1);
        }
      }

      & + .relatedPost {
        button{
          align-self: flex-end;
        }
      }

    }
  }

  .divider {
    height: 0.5px;
    width: 95%;
    margin: 3rem auto 4rem auto;
    padding: 0 2rem;
    background-color: var(--pink-500);
    border-radius: 1rem;
    opacity: 0.2;
  }
}
